version: "3.8"

services:
    ygz.client.web:
        image: baledev/ygz.client.web:latest
        build:
            context: ../apps/client
            dockerfile: Dockerfile
        deploy:
            resources:
                limits:
                    cpus: "0.50"
                    memory: 512m
                reservations:
                    cpus: "0.25"
                    memory: 512m
        restart: unless-stopped
        networks:
            - client-network

    ygz.admin.web:
        image: baledev/ygz.admin.web:latest
        build:
            context: ../apps/admin
            dockerfile: Dockerfile
        restart: unless-stopped
        networks:
            - client-network

    ygz.nginx.webserver:
        image: nginx:stable
        container_name: nginx.webserver
        ports:
            - "80:80"
            - "443:443"
        volumes:
            # Nginx config for routing to client.web and admin.web
            - ./nginx.fe.conf:/etc/nginx/nginx.conf:ro
            # SSL certificates (provisioned locally under ./ssl)
            # Mapped to the standard Certbot-like path inside the container.
            - /etc/letsencrypt:/etc/letsencrypt:ro
        depends_on:
            - ygz.client.web
            - ygz.admin.web
        networks:
            - client-network

networks:
    client-network:
        name: client-network
        driver: bridge
