services:
    ygz.client.web:
        image: baledev/ybzone.ygzclientweb:latest
        build:
            context: ./apps/client
            dockerfile: Dockerfile
            args:
                - API_ENDPOINT=https://ybstore.io.vn/api
                - APP_URL=https://ybstore.io.vn
        environment:
            - API_ENDPOINT=https://ybstore.io.vn/api
            - APP_URL=https://ybstore.io.vn
        restart: unless-stopped
        ports:
            - "3000:3000"
        networks:
            - ybzone-network

    ygz.admin.web:
        image: baledev/ybzone.ygzadminweb:latest
        build:
            context: ./apps/admin
            dockerfile: Dockerfile
            args:
                - API_ENDPOINT=https://ybstore.io.vn/api
                - APP_URL=https://admin.ybstore.io.vn
        environment:
            - API_ENDPOINT=https://ybstore.io.vn/api
            - APP_URL=https://admin.ybstore.io.vn
        restart: unless-stopped
        ports:
            - "3001:3000"
        networks:
            - ybzone-network

    ygz.keycloak.server:
        image: quay.io/keycloak/keycloak:26.3.4
        container_name: ygz.keycloak.server
        command:
            [
                "start-dev",
                "--import-realm",
                "--features=preview,token-exchange",
                "--http-enabled=false",
                "--log-level=DEBUG,org.hibernate:info,org.keycloak.transaction.JtaTransactionWrapper:info,org.keycloak.services.scheduled.ScheduledTaskRunner:info",
                "--log-console-color=true",
                "--hostname-debug=true",
                "--hostname=https://keycloak.ybstore.io.vn",
                "--hostname-strict=false",
                "--hostname-backchannel-dynamic=true",
            ]
        environment:
            - KEYCLOAK_ADMIN=admin
            - KEYCLOAK_ADMIN_PASSWORD=admin
            - KC_HEALTH_ENABLED=true
            - KC_DB=postgres
            - KC_DB_URL=jdbc:postgresql://db.keycloak:5432/KeycloakDb
            - KC_DB_USERNAME=bale
            - KC_DB_PASSWORD=bale
            - KC_HTTP_PORT=17070
        restart: always
        volumes:
            - ./provision/dockerVolumes/keycloak/5_1_2026_seed_5:/opt/keycloak/data/import
        depends_on:
            db.keycloak:
                condition: service_healthy
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "timeout 1 bash -c '</dev/tcp/localhost/17070 || exit 1'",
                ]
            interval: 10s
            timeout: 5s
            retries: 10
            start_period: 90s
        ports:
            - "17070:17070"
        networks:
            - ybzone-network

    ygz.gateways.yarp:
        image: baledev/ybzone.ygzgatewaysyarp:latest
        build:
            context: .
            dockerfile: Gateways/YGZ.Gateways.Yarp/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_HTTP_PORTS=8080
            # - ASPNETCORE_HTTPS_PORTS=8081
        ports:
            - "6006:8080"
            - "6066:8081"
        depends_on:
            - ygz.identity.api
        restart: unless-stopped
        # volumes:
        #     - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
        #     - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
        networks:
            - ybzone-network

    ygz.identity.api:
        image: baledev/ybzone.ygzidentityapi:latest
        build:
            context: .
            dockerfile: Services/Identity/YGZ.Identity.Api/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_HTTP_PORTS=8080
            # - ASPNETCORE_HTTPS_PORTS=8081
            - ConnectionStrings__IdentityDb=Host=db.identity;Port=5432;Database=IdentityDb;Username=bale;Password=bale
            - ConnectionStrings__RedisDb=db.distributedcache:6379
            - KeycloakSettings__AuthServerUrl=http://ygz.keycloak.server:17070/
            - Keycloak__auth-server-url=http://ygz.keycloak.server:17070/
            - WebClientSettings__BaseUrl=https://ybstore.io.vn
            - Serilog__WriteTo__1__Args__serverUrl=http://ygz.logging.seq:5341/
            - OpenTelemetrySettings__OtelExporterOtlpEndpointSeq=http://ygz.logging.seq:5341/ingest/otlp/v1/traces
            - OpenTelemetrySettings__OtelExporterOtlpEndpointJaeger=http://ygz.jaeger.opentelemetry:4317
        ports:
            - "6005:8080"
            # - "6065:8081"
        depends_on:
            ygz.keycloak.server:
                condition: service_started
            db.identity:
                condition: service_healthy
            db.distributedcache:
                condition: service_healthy
        restart: unless-stopped
        # volumes:
        #     - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
        #     - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
        networks:
            - ybzone-network

    ygz.catalog.api:
        image: baledev/ybzone.ygzcatalogapi:latest
        build:
            context: .
            dockerfile: Services/Catalog/YGZ.Catalog.Api/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_HTTP_PORTS=8080
            # - ASPNETCORE_HTTPS_PORTS=8081
            - FeatureManagement__EnableSelfSsl=true
            - MongoDbSettings__ConnectionString=mongodb://db.catalog.replica.primary:27017,db.catalog.replica.secondary:27017,db.catalog.replica.arbiter:27017/?replicaSet=rs0
            - MongoDbSettings__DatabaseName=CatalogDb
            - ConnectionStrings__RedisDb=db.distributedcache:6379
            - MessageBrokerSettings__Host=amqp://rabbitmq-host:5672
            - Keycloak__auth-server-url=http://ygz.keycloak.server:17070/
            - GrpcSettings__DiscountUrl=https://ygz.discount.grpc:8081
            - GrpcSettings__OrderingUrl=http://ygz.ordering.api:8080
            - Serilog__WriteTo__1__Args__serverUrl=http://ygz.logging.seq:5341/
            - OpenTelemetrySettings__OtelExporterOtlpEndpointSeq=http://ygz.logging.seq:5341/ingest/otlp/v1/traces
            - OpenTelemetrySettings__OtelExporterOtlpEndpointJaeger=http://ygz.jaeger.opentelemetry:4317
        ports:
            - "6001:8080"
            # - "6061:8081"
        depends_on:
            mq.rabbitmq:
                condition: service_healthy
            db.catalog.replica.primary:
                condition: service_started
            mongo.setup:
                condition: service_completed_successfully
            ygz.ordering.api:
                condition: service_started
        # volumes:
        #     - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
        #     - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
        networks:
            - ybzone-network

    ygz.ordering.api:
        image: baledev/ybzone.ygzorderingapi:latest
        build:
            context: .
            dockerfile: Services/Ordering/YGZ.Ordering.Api/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_HTTP_PORTS=8080
            # - ASPNETCORE_HTTPS_PORTS=8081
            - FeatureManagement__EnableSelfSsl=true
            - ConnectionStrings__OrderingDb=Host=db.ordering;Port=5432;Database=OrderingDb;Username=bale;Password=bale
            - MessageBrokerSettings__Host=amqp://rabbitmq-host:5672
            - Keycloak__auth-server-url=http://ygz.keycloak.server:17070/
            - FeatureManagement__OrderFulfillment=false
            - WebClientSettings__BaseUrl=https://ybzone.io.vn
            - GrpcSettings__CatalogUrl=https://ygz.catalog.api:8081
            - Serilog__WriteTo__1__Args__serverUrl=http://ygz.logging.seq:5341/
            - OpenTelemetrySettings__OtelExporterOtlpEndpointSeq=http://ygz.logging.seq:5341/ingest/otlp/v1/traces
            - OpenTelemetrySettings__OtelExporterOtlpEndpointJaeger=http://ygz.jaeger.opentelemetry:4317
        ports:
            - "6004:8080"
            # - "6064:8081"
        depends_on:
            db.ordering:
                condition: service_healthy
            mq.rabbitmq:
                condition: service_healthy
        # volumes:
        #     - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
        #     - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
        networks:
            - ybzone-network

    ygz.discount.grpc:
        image: baledev/ygzdiscountgrpc:latest
        build:
            context: .
            dockerfile: Services/Discount/YGZ.Discount.Grpc/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_HTTP_PORTS=8080
            # - ASPNETCORE_HTTPS_PORTS=8081
            - FeatureManagement__EnableSelfSsl=true
            - MessageBrokerSettings__Host=amqp://rabbitmq-host:5672
            - GrpcSettings__CatalogUrl=https://ygz.catalog.api:8081
            - ConnectionStrings__DiscountDb=Host=db.discount;Port=5432;Database=DiscountDb;Username=bale;Password=bale
            - Serilog__WriteTo__1__Args__serverUrl=http://ygz.logging.seq:5341/
            - OpenTelemetrySettings__OtelExporterOtlpEndpointSeq=http://ygz.logging.seq:5341/ingest/otlp/v1/traces
            - OpenTelemetrySettings__OtelExporterOtlpEndpointJaeger=http://ygz.jaeger.opentelemetry:4317
        ports:
            - "6003:8080"
            # - "6063:8081"
        depends_on:
            db.discount:
                condition: service_healthy
            mq.rabbitmq:
                condition: service_healthy
        # volumes:
        #     - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
        #     - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
        networks:
            - ybzone-network

    ygz.basket.api:
        image: baledev/ybzone.ygzbasketapi:latest
        build:
            context: .
            dockerfile: Services/Basket/YGZ.Basket.Api/Dockerfile
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ASPNETCORE_HTTP_PORTS=8080
            # - ASPNETCORE_HTTPS_PORTS=8081
            - FeatureManagement__EnableSelfSsl=true
            - ConnectionStrings__BasketDb=Host=db.basket;Port=5432;Database=BasketDb;Username=bale;Password=bale
            - ConnectionStrings__RedisDb=db.distributedcache:6379
            - Keycloak__auth-server-url=http://ygz.keycloak.server:17070/
            - GrpcSettings__DiscountUrl=https://ygz.discount.grpc:8081
            - GrpcSettings__CatalogUrl=https://ygz.catalog.api:8081
            - MessageBrokerSettings__Host=amqp://rabbitmq-host:5672
            - WebClientSettings__BaseUrl=https://ybstore.io.vn
            - Serilog__WriteTo__1__Args__serverUrl=http://ygz.logging.seq:5341/
            - OpenTelemetrySettings__OtelExporterOtlpEndpointSeq=http://ygz.logging.seq:5341/ingest/otlp/v1/traces
            - OpenTelemetrySettings__OtelExporterOtlpEndpointJaeger=http://ygz.jaeger.opentelemetry:4317
        ports:
            - "6002:8080"
            # - "6062:8081"
        depends_on:
            db.basket:
                condition: service_healthy
            db.distributedcache:
                condition: service_healthy
            mq.rabbitmq:
                condition: service_healthy
            ygz.discount.grpc:
                condition: service_started
            ygz.catalog.api:
                condition: service_started
        # volumes:
        #     - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
        #     - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
        networks:
            - ybzone-network

    ygz.nginx.webserver:
        image: nginx:stable
        container_name: nginx.webserver
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./provision/ssl:/ssl:ro
            - ./nginx.prod.conf:/etc/nginx/nginx.conf:ro
        depends_on:
            - ygz.gateways.yarp
            - ygz.identity.api
            - ygz.basket.api
            - ygz.catalog.api
            - ygz.ordering.api
            - ygz.client.web
            - ygz.admin.web
            - ygz.keycloak.server
        restart: unless-stopped
        networks:
            - ybzone-network

    mq.rabbitmq:
        image: rabbitmq:3-management-alpine
        container_name: mq.rabbitmq
        hostname: rabbitmq-host
        restart: always
        ports:
            - "5672:5672"
            - "15672:15672"
        environment:
            - RABBITMQ_DEFAULT_USER=bale
            - RABBITMQ_DEFAULT_PASS=bale
        healthcheck:
            test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
            interval: 10s
            timeout: 10s
            retries: 5
            start_period: 40s
        volumes:
            - ybzone.rabbitmq_data:/var/lib/rabbitmq
        networks:
            - ybzone-network

    db.distributedcache:
        image: redis:alpine
        container_name: db.distributedcache
        restart: always
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 5s
            timeout: 5s
            retries: 5
        ports:
            - "6379:6379"
        volumes:
            - ybzone.redis_data:/data
        networks:
            - ybzone-network

    db.keycloak:
        image: postgres:alpine
        container_name: db.keycloak
        environment:
            - POSTGRES_USER=bale
            - POSTGRES_PASSWORD=bale
            - POSTGRES_DB=KeycloakDb
        restart: always
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U bale -d KeycloakDb"]
            interval: 5s
            timeout: 5s
            retries: 5
        ports:
            - "1432:5432"
        volumes:
            - ybzone.postgres_keycloak:/var/lib/postgresql/data/
        networks:
            - ybzone-network

    db.identity:
        image: postgres:alpine
        container_name: db.identity
        environment:
            - POSTGRES_USER=bale
            - POSTGRES_PASSWORD=bale
            - POSTGRES_DB=IdentityDb
        restart: always
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U bale -d IdentityDb"]
            interval: 5s
            timeout: 5s
            retries: 5
        ports:
            - "2432:5432"
        volumes:
            - ybzone.postgres_identity:/var/lib/postgresql/data/
        networks:
            - ybzone-network

    db.discount:
        image: postgres:alpine
        container_name: db.discount
        environment:
            - POSTGRES_USER=bale
            - POSTGRES_PASSWORD=bale
            - POSTGRES_DB=DiscountDb
        restart: always
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U bale -d DiscountDb"]
            interval: 5s
            timeout: 5s
            retries: 5
        ports:
            - "4432:5432"
        volumes:
            - ybzone.postgres_discount:/var/lib/postgresql/data/
        networks:
            - ybzone-network

    db.ordering:
        image: postgres:alpine
        container_name: db.ordering
        environment:
            - POSTGRES_USER=bale
            - POSTGRES_PASSWORD=bale
            - POSTGRES_DB=OrderingDb
        restart: always
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U bale -d OrderingDb"]
            interval: 5s
            timeout: 5s
            retries: 5
        ports:
            - "6432:5432"
        volumes:
            - ybzone.postgres_ordering:/var/lib/postgresql/data/
        networks:
            - ybzone-network

    db.basket:
        image: postgres:alpine
        container_name: db.basket
        environment:
            - POSTGRES_USER=bale
            - POSTGRES_PASSWORD=bale
            - POSTGRES_DB=BasketDb
        restart: always
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U bale -d BasketDb"]
            interval: 5s
            timeout: 5s
            retries: 5
        ports:
            - "3432:5432"
        volumes:
            - ybzone.postgres_basket:/var/lib/postgresql/data/
        networks:
            - ybzone-network

    db.catalog.replica.primary:
        image: mongo:latest
        container_name: db.catalog.replica.primary
        restart: always
        environment:
            - MONGO_INITDB_REPLICASET=rs0
            - MONGO_HOST_IP=178.128.104.193
        ports:
            - 27001:27017
        volumes:
            - ybzone.mongodb_replica_primary:/data/db
            - ./provision/dockerVolumes/mongoDb/scripts/rs_config.sh:/docker-entrypoint-initdb.d/rs_config.sh:ro
        command: mongod --replSet "rs0" --bind_ip_all --replSetName rs0
        user: "999:999"
        networks:
            - ybzone-network

    db.catalog.replica.secondary:
        image: mongo:latest
        container_name: db.catalog.replica.secondary
        restart: always
        ports:
            - 27002:27017
        environment:
            - MONGO_INITDB_REPLICASET=rs0
        volumes:
            - ybzone.mongodb_replica_secondary:/data/db
        command: mongod --replSet "rs0" --bind_ip_all --replSetName rs0
        user: "999:999"
        networks:
            - ybzone-network

    db.catalog.replica.arbiter:
        image: mongo:latest
        container_name: db.catalog.replica.arbiter
        restart: always
        environment:
            - MONGO_INITDB_REPLICASET=rs0
        ports:
            - 27003:27017
        volumes:
            - ybzone.mongodb_replica_arbiter:/data/db
        command: mongod --replSet "rs0" --bind_ip_all --replSetName rs0
        user: "999:999"
        networks:
            - ybzone-network

    mongo.setup:
        image: mongo:latest
        container_name: mongo.setup
        depends_on:
            - db.catalog.replica.primary
            - db.catalog.replica.secondary
            - db.catalog.replica.arbiter
        environment:
            - MONGO_HOST_IP=178.128.104.193
        volumes:
            - ./provision/dockerVolumes/mongoDb/scripts/rs_config.sh:/scripts/rs_config.sh
            - ./provision/dockerVolumes/mongoDb/scripts/init_catalog_db.sh:/scripts/init_catalog_db.sh
            - ybzone.mongo_setup_data:/data
        command: >
            bash -c "
            chmod +x /scripts/rs_config.sh &&
            chmod +x /scripts/init_catalog_db.sh &&
            sleep 10 &&
            /scripts/rs_config.sh &&
            /scripts/init_catalog_db.sh
            "
        networks:
            - ybzone-network
        restart: "no"

    ygz.logging.seq:
        image: datalust/seq:latest
        container_name: ygz.logging.seq
        environment:
            - ACCEPT_EULA=Y
            - SEQ_FIRSTRUN_ADMINPASSWORD=admin
        ports:
            - "18080:80"
            - "5341:5341"
        volumes:
            - ybzone.logging_seq_data:/data
        networks:
            - ybzone-network

    ygz.jaeger.opentelemetry:
        image: jaegertracing/all-in-one:latest
        container_name: ygz.jaeger.opentelemetry
        ports:
            - "4317:4317"
            - "4318:4318"
            - "16686:16686"
        volumes:
            - ybzone.tracking_jaeger_data:/badger
        networks:
            - ybzone-network

volumes:
    ybzone.postgres_identity:
    ybzone.postgres_ordering:
    ybzone.postgres_discount:
    ybzone.postgres_basket:
    ybzone.redis_data:
    ybzone.postgres_keycloak:
    ybzone.logging_seq_data:
    ybzone.tracking_jaeger_data:
    ybzone.mongodb_replica_primary:
    ybzone.mongodb_replica_secondary:
    ybzone.mongodb_replica_arbiter:
    ybzone.mongo_setup_data:
    ybzone.rabbitmq_data:

networks:
    ybzone-network:
        name: ybzone-network
        driver: bridge
