@{
    Layout = "_Layout";
}

<!-- Views/Emails/Verification.cshtml -->
<p style="font-family: 'Rubik', sans-serif; margin: 0; padding: 0;">Dear @Model?.FullName,</p>
<p style="font-family: 'Rubik', sans-serif; margin: 0; padding: 0;">
    Congratulations and welcome to Template! This email serves as confirmation that your registration has been successfully completed. We're thrilled to have you as a part of our community and look forward to providing you with a rewarding experience.
</p>
<a href="@Model?.VerifiedUrl" style="text-decoration: none; color: #007bff;">Complete the Registration process by clicking the link</a>
<br />
<p style="font-family: 'Rubik', sans-serif; margin: 0; padding: 0;">Best Regards,</p>
<p style="font-family: 'Rubik', sans-serif; margin: 0; padding: 0;">Your Template Team</p>