@{
    Layout = "_Layout";
}

<p>Dear @Model?.FullName,</p>
<p>We have received a request to reset your password for your account. To ensure the security of your account, please follow the instructions below:</p>
<ul>
    <li>Click on the following link to <a href=@Model?.ResetPasswordUrl>reset your password</a></li>
    <li>You will be redirected to a secure page where you can enter your new password</li>
    <li>Choose a strong, unique password that you haven't used before and is not easily guessable.</li>
</ul>
<p>Best Regards,</p>
<p>Your Template Team</p>